<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="favicon.ico" rel="icon">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Hackadons</title>

</head>

<body style="background-image: url(/static/background.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Hackadons</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/stockticker">Live View</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
<div class="container-fluid" style="padding-top: 1%;">
    <div class="transparent col-sm-2">
    </div>
    <main class="container center rounded">
        <h1 style="font-weight: normal;">Hackadons' Introduction to Stocks</h1>
        <img src="/static/img.jpg" class="img-fluid rounded" alt="Responsive image">
        <p class="intro-text">
            This project was created by the Hackadons team. It consists of Pranav Subbaraman, Shreyans Porwal, Rathul Anand, and Sathvik Parasa. This was created in order to enlighten adolescents on the basis of buying, selling, and profiting from stocks.
        </p>
    </main>
</div>

</html>